
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Exam is Fun</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
  </head>

  <body>


    <main role="main">
      {% block body %}
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">_f❤️rky_</h1>
          <p class="lead text-muted">A sweet and powerful tool for making Online Examination more Interactive than ever</p>
          <p>
              <a style="text-decoration: none;" href='{{host}}'> <h1 class="h1 mb-3 font-weight-normal"> Your account is now Activated 🎊 🎉 Click here to continue... You can now Login </h1></a>
          </p>
        </div>
      </section>
      {% endblock %}
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="http://getbootstrap.com/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
